/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@plugin "@tailwindcss/typography" {
}

@plugin "daisyui" {
}

@theme {
  --font-roboto: 'Roboto', sans-serif;
}

/* Responsive sizing */
html {
  font-family: var(--font-roboto);
}

/* Tablet and larger */
@media (min-width: 768px) {
  html {
  }
}

/* Desktop and larger */
@media (min-width: 1024px) {
  html {
  }
}
