name: CI Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            if [ ! -d "/opt/gifto-front/.git" ]; then
              mkdir -p /opt/gifto-front
              git clone git@github.com:sosthenenouebissi/gifto-front.git /opt/gifto-front
            else
              cd /opt/gifto-front
              git pull origin main
            fi
            sudo docker compose down
            sudo docker compose up -d --build
